body {
  background-color: rgba(41,61,146,.75);
  background-image: linear-gradient(45deg, rgba(41,61,146,.75), rgba(242,105,53,.75));
 }

#wm-content {
  margin: auto;
  width: 80%;
  max-width: 1080px;
  display: grid;
  align-items: center;
  height: 100vh;
}

#wm-directory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.wm-text {
  margin: 150px 0;
}

.in-progress {
  opacity: 50%;
  pointer-events: none;
  cursor: default;
}

section {
  margin-bottom: 75px;
}

section:last-child {
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #efefef;
}

h1, h2, h3, p {
  margin-block-start: 0rem;
  margin-block-end: 1.25rem;
}

h1 {
  font-size: 3rem;
  line-height: normal;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #efefef;
}

a {
  color: #f8bf57;
  text-decoration: none;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  cursor: pointer;
}

a:hover {
  color: #e9e17a;
  text-decoration: none;
}

#wm-link, #wm-project {
  border: 2px solid #dddddd;
  border-radius: 10px;
  color: #dddddd;

  padding: 5px 10px;
}

#wm-link:hover, #wm-project:hover {
  border: 2px solid #4cb9e2;
  background-color: #4cb9e2;
  border-radius: 10px;
  color: #000000;
}

#wm-link p, #wm-project p {
  margin-block-end: 0rem;
}

#wm-project {
  display: flex;
  grid-gap: 15px;

  padding: 5px 10px;
}

#wm-social {
  display: flex;
  grid-gap: 15px;
}

/* For screens that are 768px wide or less */
@media screen and (max-width: 1080px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 1.5rem; }
  p  { font-size: 1.15rem; }
  .header { display: flex; }
  .header-mobile { display: none; }
}

/* For screens that are 768px wide or less */
@media screen and (max-width: 768px) {
  #wm-directory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.25rem; }
  p  { font-size: 1rem; }
  .header { display: none!important; }
  .header-mobile { display: block!important; }
}

/* For screens that are 425px wide or less */
@media screen and (max-width: 450px) {
  #wm-directory {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
  #wm-social {
    display: grid; 
    grid-template-columns: 1fr;
  }
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.25rem; }
  p  { font-size: 1rem; }
  .header { display: none!important; }
  .header-mobile { display: block!important; }
}

@media screen and (max-height: 845px) {
  #wm-content {
    height: 100%;
  }
}