#wm-content {
  margin: auto;
  width: 60%;
  max-width: 1080px;
  display: grid;
  align-items: center;
  height: 100vh;
}

#wm-directory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.in-progress {
  opacity: 50%;
  pointer-events: none;
  cursor: default;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #efefef;
}

h1, h2, p {
  margin-block-start: 0rem;
  margin-block-end: 1.25rem;
}

h1 {
  font-size: 3rem;
  line-height: normal;
}

h2 {
  font-size: 1.75rem;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #efefef;
}

a {
  color: #f8bf57;
  text-decoration: none;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  cursor: pointer;
}

a:hover {
  color: #e9e17a;
  text-decoration: none;
}

#wm-link {
  display: grid;
  grid-template-columns: 1fr 5fr;

  border: 2px solid #dddddd;
  border-radius: 10px;
  color: #dddddd;

  padding: 5px 10px;
}

#wm-link:hover {
  border: 2px solid #4cb9e2;
  border-radius: 10px;
  color: #4cb9e2;
}

#wm-link p {
  margin-block-end: 0rem;
}

#wm-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 350px;
}

/* For screens that are 768px wide or less */
@media screen and (max-width: 1080px) {
  #wm-content { width: 65%; }
  h1 { font-size: 2.5rem; }
  h2 { font-size: 1.5rem; }
  p  { font-size: 1.15rem; }
  .header { display: flex; }
  .header-mobile { display: none; }
}

/* For screens that are 768px wide or less */
@media screen and (max-width: 768px) {
  #wm-content {
    margin: calc(75px + 5vh) auto;
    width: 80%;
  }
  #wm-directory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.25rem; }
  p  { font-size: 1rem; }
  .header { display: none!important; }
  .header-mobile { display: block!important; }
}

/* For screens that are 425px wide or less */
@media screen and (max-width: 450px) {
  #wm-content {
    margin: auto;
    width: 85%;
  }
  #wm-directory {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.25rem; }
  p  { font-size: 1rem; }
  .header { display: none!important; }
  .header-mobile { display: block!important; }
}