body {
  background-color: #22252D;
  font-family: 'Roboto Mono', monospace; /* Weights:  100 300 400 500 */
}
#introduction {
  background-color: rgba(250,250,250,.75);

  padding: 25px 50px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1, h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

a {
  color: #ef785a;
  text-decoration: none;
}

a:hover {
  color: #4cb9e2;
  text-decoration: none;
}

/* For screens that are 768px wide or less */
@media screen and (max-width: 768px) {
  #introduction {
    background-color: rgba(250,250,250,.75);
    width: 65%;
    padding: 25px 50px;
    text-align: center;
    margin: auto;
    position: absolute;
  }
}

/* For screens that are 425px wide or less */
@media screen and (max-width: 425px) {
  #introduction {
    background-color: rgba(250,250,250,.75);
    width: 70%;
    padding: 25px 50px;
    text-align: center;
    margin: auto;
    position: absolute;
  }
}
