/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .col-md-4 {
    height: 45vh;
    padding: 0 25px;
  }
  .col-md-8 {
    padding: 0 25px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .container {
    max-width: 65%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .container {
    max-width: 65%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .container {
    max-width: 65%;
  }
}
