html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #17a2b8;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0;

  color: #ffffff;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1rem;

  color: #ffffff;
}

p {
  font-family: 'Roboto Mono', monospace;
  color: #666666;
  margin-bottom: 0;
}

span {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;

  color: #ffffff;
}

.header {
  background-color: black;
  margin: auto;
  padding: 15px;
  text-align: justify;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: pink;
  margin: 0;
}

.header a {
  color: pink;
  text-decoration: none;
}

.about-button {
  vertical-align: bottom;
  position:relative; /* Anything but static! */
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  color: white;
  font-weight: bold;
  line-height: 1em;
  background-color: #91b2d2;
  border: none;
  border-radius: 50%;
}

.container {
  height: 600px;

  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 50px 0 0 0;
}

.row {
  margin: 0;
}

.col-md-4 {
  height: 600px;
  overflow: auto!important;
  padding: 0 0 0 25px;
}

.col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
  /* padding: 0; */
}

.gridProject {
  position: absolute;
  top: 20%;
  left: 0;
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

#gridListed {
  background-color: #efefef;
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
}

#gridListed:hover {
  background-color: #dedede;
  cursor: pointer;
}

#albumArts {
  padding: 0;
  margin: 0;
}

#albumArt {
  padding: 0px 5px 0px 5px;
}

#titleYear p {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

#albumOriginal {
  padding: 0 10px 0 0;
}

#albumGrid {
  padding: 0 0 0 10px;
}

#albumData {
  text-align: center;
  margin-top: 35px;
}
