@media all and (max-height: 1000px) {
  #main-container {
    height: auto;
    margin: 75px 0px;
  }
  #lyrics-content {
    margin: 10vh 0px;
  }
  #track-lyrics {
    grid-auto-rows: 65vh;
  }
}

@media all and (max-height: 600px) {
  #lyrics-content {
    margin: 75px 0px 0px;
  }
  #track-lyrics {
    grid-auto-rows: 450px;
  }
}

/* For screens that are 1080px wide or less */
@media all and (max-width: 1080px) {
  #trackArtist, #trackAlbum {
    font-size: 1rem;
  }

  #trackTitle {
    font-size: 1.25rem;
  }
}

/* For screens that are 980px wide or less */
@media all and (max-width: 980px) {
  /* H2 */
  #trackArtist, #trackAlbum {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }
  /* H1 */
  #trackTitle {
    margin-block-end: 0.5rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  #lyrics-content {
    margin: 0px;
  }

  #main-content {
    grid-template-areas:
      "song song song"
      "prev home next";
    grid-row-gap: 0px;
  }
  #previous, #next, #home {
    display: none;
  }
  #main-container {
    height: 100%;
    margin: 95px 0px;
  }

  #album-trackList, #track-lyrics {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  #album-cover img, #track-information img {
    width: 35%;
  }
  #mobile-slider {
    display: grid;
  }
  #main-content button, #mobile-slider button {
    width: 100%;
    height: 100%;
  }
}

/* For screens that are 450px wide or less */
@media all and (max-width: 450px) {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1rem;
  }
}
